In [109]:
import requests
from bs4 import BeautifulSoup
products=[]
reviews=[]
url=["https://www.flipkart.com/samsung-guru-1200/product-reviews/itme6gz6jczu5ygz?pid=MOBDADKKAEHYYA3G&lid=LSTMOBDADKKAEHYYA3GKUU92J&marketplace=FLIPKART","https://www.flipkart.com/samsung-metro-313-dual-sim/product-reviews/itmeu7kpzwu74ezu?pid=MOBEU7KPT3FFWJDJ&lid=LSTMOBEU7KPT3FFWJDJPHNFWC&marketplace=FLIPKART","https://www.flipkart.com/samsung-galaxy-a21s-blue-64-gb/product-reviews/itmb0bd07306db00?pid=MOBFSFMJJBTXPTRR&lid=LSTMOBFSFMJJBTXPTRR4BE1KX&marketplace=FLIPKART"]
def url_to_transcript(url):
    for i in range(len(url)):
        page=requests.get(url[i])
        soup=BeautifulSoup(page.content,'html.parser')
        results=soup.find('div',class_="ooJZfD _2oZ8XT col-9-12")
        name=[p.text for p in soup.findAll('div',{"class":"o9Xx3p _1_odLJ"})]
        text=[p.text for p in soup.findAll('div',{"class":"_1PBCrt"})]
        reviews.append(text)
        products.append(name)
url_to_transcript(url)

In [110]:
l=[]
m=[]
n=[]
o=[]
for i in reviews:
    l.append(i)
for i in products:
    if type(i)==list:
        for k in i:
            m.append(k.strip().lower())
print(len(l))

3

In [111]:
stripped_reviews=l

In [112]:
#remove punctuations
import string
stripped_title=[]

table =str.maketrans('', '', string.punctuation)
stripped_title = [w.translate(table) for w in m]

In [8]:
import pickle
!mkdir stripped_reviews
for i,c in enumerate(stripped_title):
    with open('stripped_reviews/'+c+'.txt','wb') as file:
        pickle.dump(stripped_reviews[i],file)

A subdirectory or file stripped_reviews already exists.

In [113]:
import pickle
data={}
for i,c in enumerate(stripped_title):
    with open('stripped_reviews/'+c+'.txt','rb') as file:
        data[c]=pickle.load(file)

In [114]:
def combine_text(text_list):
    combined_text=' '.join(text_list)
    return combined_text

In [115]:
data_combined={key:[combine_text(values)] for key,values in data.items()}

In [116]:
import pandas as pd
pd.set_option('max_colwidth',150)

data_df=pd.DataFrame(data_combined,index=[0]).transpose()
data_df.columns=['stripped_reviews']
data_df=data_df.sort_index()
data_df

                                                                                                                                                                             stripped_reviews
samsung galaxy a21s blue 64 gb reviews  5Simply awesomeOverall happy with the product.1. Battery backup is really good. It almost takes one and a half day to charge it again. Fast chargi...
samsung guru 1200 reviews               5Best Phone @Best PriceThis is My 2nd Phone as I use my iPhone for emails & other stuff, but if you are looking for best quality, rough Handling, ...
samsung metro 313 dual sim reviews      5ExcellentGreat feature phone... simple to use... loaded with features. Great battery backup. Smooth keypad. Perfect reception and call quality. S...

In [117]:
import re
import string

def clean_text_r1(txt):
    txt=txt.lower()
    txt=re.sub('\[.*?\]','',txt)
    txt=re.sub('\[%s]'% re.escape(string.punctuation),'',txt)
    txt=re.sub('\w*\d\w*','',txt)
    return txt
round1=lambda x:clean_text_r1(x)

In [118]:
data_clean=pd.DataFrame(data_df.stripped_reviews.apply(round1))
data_clean

                                                                                                                                                                             stripped_reviews
samsung galaxy a21s blue 64 gb reviews   awesomeoverall happy with the product.. battery backup is really good. it almost takes one and a half day to charge it again. fast charging as we...
samsung guru 1200 reviews                phone @best pricethis is my  phone as i use my iphone for emails & other stuff, but if you are looking for best quality, rough handling, strong b...
samsung metro 313 dual sim reviews       feature phone... simple to use... loaded with features. great battery backup. smooth keypad. perfect reception and call quality. so compact to ha...

In [124]:
def clean_text_r2(txt):
    txt=re.sub('[@''""...,%]','',txt)
    txt=re.sub('\n','',txt)
    #txt=re.sub('.','',txt)
    return txt
round2=lambda x: clean_text_r2(x)

In [125]:
data_clean2=pd.DataFrame(data_clean.stripped_reviews.apply(round2))
data_clean2

                                                                                                                                                                             stripped_reviews
samsung galaxy a21s blue 64 gb reviews   awesomeoverall happy with the product battery backup is really good it almost takes one and a half day to charge it again fast charging as well d...
samsung guru 1200 reviews                phone best pricethis is my  phone as i use my iphone for emails & other stuff but if you are looking for best quality rough handling strong batte...
samsung metro 313 dual sim reviews       feature phone simple to use loaded with features great battery backup smooth keypad perfect reception and call quality so compact to handle displ...

In [126]:
#de emojify
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)
round2b=lambda x: deEmojify(x)

data_clean2=pd.DataFrame(data_clean2.stripped_reviews.apply(round2b))
data_clean2

                                                                                                                                                                             stripped_reviews
samsung galaxy a21s blue 64 gb reviews   awesomeoverall happy with the product battery backup is really good it almost takes one and a half day to charge it again fast charging as well d...
samsung guru 1200 reviews                phone best pricethis is my  phone as i use my iphone for emails & other stuff but if you are looking for best quality rough handling strong batte...
samsung metro 313 dual sim reviews       feature phone simple to use loaded with features great battery backup smooth keypad perfect reception and call quality so compact to handle displ...

In [127]:
#Lemmatization
import nltk
#nltk.download('punkt')
#nltk.download('wordnet')
#nltk.download('stopwords')
#nltk.download('averaged_perceptron_tagger')
#w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return lemmatizer.lemmatize(text)
round3=lambda x: lemmatize_text(x)
data_clean3 = pd.DataFrame(data_clean2.stripped_reviews.apply(round3))
data_clean3

                                                                                                                                                                             stripped_reviews
samsung galaxy a21s blue 64 gb reviews   awesomeoverall happy with the product battery backup is really good it almost takes one and a half day to charge it again fast charging as well d...
samsung guru 1200 reviews                phone best pricethis is my  phone as i use my iphone for emails & other stuff but if you are looking for best quality rough handling strong batte...
samsung metro 313 dual sim reviews       feature phone simple to use loaded with features great battery backup smooth keypad perfect reception and call quality so compact to handle displ...

In [128]:
#remove Stopwords
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 

stop_words = set(stopwords.words('english'))   

def remove_stopwords(txt):
    if txt not in stop_words:
        return txt
round4=lambda x: remove_stopwords(x)
data_clean4=pd.DataFrame(data_clean3.stripped_reviews.apply(round4))
data_clean4

                                                                                                                                                                             stripped_reviews
samsung galaxy a21s blue 64 gb reviews   awesomeoverall happy with the product battery backup is really good it almost takes one and a half day to charge it again fast charging as well d...
samsung guru 1200 reviews                phone best pricethis is my  phone as i use my iphone for emails & other stuff but if you are looking for best quality rough handling strong batte...
samsung metro 313 dual sim reviews       feature phone simple to use loaded with features great battery backup smooth keypad perfect reception and call quality so compact to handle displ...

In [129]:
#corpus
data_df.to_pickle('corpus.pkl')

In [130]:
#DTM
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(stop_words='english')
data_cv=cv.fit_transform(data_clean4.stripped_reviews)
data_dtm=pd.DataFrame(data_cv.toarray(),columns=cv.get_feature_names())
data_dtm.index=data_clean4.index
data_dtm

,absolutely,abuse,actually,alappuzhasep,alipurduarsep,amazing,amoled,android,app,appearance,...,work,worked,working,world,worth,yeah,year,years,youtube,youvery
samsung galaxy a21s blue 64 gb reviews,2,10,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
samsung guru 1200 reviews,0,10,0,0,0,1,0,1,1,0,...,0,1,1,1,0,0,1,1,0,1
samsung metro 313 dual sim reviews,0,10,1,1,1,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0

In [131]:
data_dtm.to_pickle('dtm.pkl')